@model Project.Web.ViewModels.FileSystem.FileUploadFormInputModel

@using (Html.BeginForm("UploadFile", "FileSystem", new { area = string.Empty }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-3">
                @Html.HiddenFor(model => model.Directory)
                @Html.ValidationMessageFor(model => model.Directory, "", new { @class = "text-danger" })
                @Html.EditorFor(model => model.FileToUpload)
            </div>
            <div class="col-md-2">
                @Html.Submit(new { value = "Upload File", @class = "btn btn-success btn-sm",id="btn-save" })
            </div>
        </div>
}

@Scripts.Render("~/bundles/activate-upload-form")